<div class="messages-page-container">
    <div class="messages-grid-container">
        <nav>
            <header>
                <img src="https://img.icons8.com/cute-clipart/64/000000/chat.png" id="logo"/>
                <span class="company-name">
                    Pingme
                </span>        
            </header>
            <div class="nav-pages">
                <span routerLink="/home" routerLinkActive="active" class="nav-pages-item">HOME</span>
                <span class="nav-pages-item">CONTACTS</span>
                <span class="nav-pages-item">SETTINGS</span>
                <span class="nav-pages-item">SUPPORT 24x7</span>
            </div>
        </nav>
        <section class="other-options-container">
            <input type="text" placeholder="Search">
            <button type="button">Clear Chat</button>
        </section>
        <section class="chats-container">
            <app-chat-list-view></app-chat-list-view>
        </section>
        <section class="message-container">
            Message container
        </section>
    </div>
</div>