<div class="messages-page-container">
    <div class="messages-grid-container">
        <nav>
            <header>
                <img src="https://img.icons8.com/cute-clipart/64/000000/chat.png" id="logo"/>
                <span class="company-name">
                    Pingme
                </span>        
            </header>
            <div class="nav-pages">
                <span class="nav-pages-item">HOME</span>
                <span class="nav-pages-item">HOME</span>
                <span class="nav-pages-item">HOME</span>
                <span class="nav-pages-item">HOME</span>
                <span class="nav-pages-item">HOME</span>
            </div>
        </nav>
    </div>
</div>