
.messages-page-container{
    background-color: #E8E8E8;
    width: 100%;
    height: 100vh;
}

.messages-grid-container{
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header header header header header"
                         "others others others others others"
                         "chats chats   message message ."
                         "chats chats   message message ."
                         "chats chats   message message .";
    grid-template-rows: 6rem 4rem repeat(3,auto);
    grid-template-columns: repeat(5,auto);
    row-gap: 1rem;
    column-gap: 4rem;                     
}

.company-name{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

#logo{
    vertical-align: middle;
}

.messages-grid-container nav{
    grid-area: header;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.chats-container,.message-container{
    grid-area: chats;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
}

.message-container{
    grid-area: message;
    border-radius: 3rem;
}

.chats-container{
    max-width: 400px;
}

nav .nav-pages{
    display: flex;
    justify-content: space-between;
    width: 36rem;
}

.nav-pages-item{
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.125rem;
    cursor: pointer;
}

.nav-pages-item.active{
    border-bottom: 5px solid #0096FF;
    padding-bottom: 0.5rem;
}

.other-options-container{
    grid-area: others;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.other-options-container *{
    border-radius: 2.125rem;
    width: 7.1875rem;
    border: 0px;
    font-size: 1.1rem;
    background-color: white;
    height: 2.75rem;
}

.other-options-container input[placeholder="Search"]{
    width: 19.5rem;
    background-image: url('../../../assets/585e4ae1cb11b227491c3393.png');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 14px;
    background-position-y: 11px;
    text-indent: 42px;
}

.other-options-container *:focus-visible{
    outline:2px solid #0096FF;
}

.other-options-container button{
    cursor: pointer;
}

@media (max-width:41.75rem){
    header{
        display: none;
    }

    .nav-pages{
        width: 100% !important;
    }
}
