div.container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#type-container{
    height: 83px;
    display: flex;
    justify-content: center;
}

#type-container input{
    width: 100%;
    border-radius: 45px;
    border: 0px;
    background-color: #f6f7fb;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
}

#type-container img{
    width: 93px;
    height: 100%;
}

#type-container input:focus-visible{
    border: 0px;
    outline: 0px;
}