.chat-container{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: "profile name . time"
                        "profile message . count"
                        ".       line    line    line";
    grid-template-rows: repeat(4,auto);
    grid-template-columns: minmax(0px,max-content);
    cursor: pointer;                              
}

img{
    grid-area: profile;
    width: 90px;
    padding: 11px;
    border-radius: 45px;
}

.user-name{
    grid-area: name;
    font-weight: 400;
    font-size: 1.3125rem;
    text-transform: capitalize;
    align-self: center;
}

hr{
    grid-area: line;
    border-top: 0px solid grey;
}

.message{
    grid-area: message;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
}